@font-face {
  font-family: Montserrate;
  src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: League Spartant;
  src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: Montserrate;
}

body {
  background-color: #000;
  overflow-y: hidden;
}

h1 {
  font-family: League Spartant;
  font-size: 2rem;
}

p {
  font-size: 13px;
  font-family: Montserrate;
  line-height: 1.5rem;
}

h3 {
  font-family: League Spartant;
  font-size: 1.2rem;
}

hr {
  height: 1.5px;
  background-color: #D33BAC;
  border: none;
  opacity: 0.25;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
}

#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-mobile #top #after {
  display: none;
}

#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #ffff;
}

#header-mobile #top i:hover {
  cursor: pointer;
  color: #D33BAC;
}

#header-mobile #top img {
  height: 2.5rem;
  padding-left: 2rem;
}

#header-mobile #container {
  display: none;
}

#header-mobile #container #bottom {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

#header-mobile #container #bottom a {
  text-decoration: none;
  color: #ffff;
  padding: 0 0 2rem 0;
}

#header-mobile #container #bottom a:hover {
  color: #D33BAC;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
  height: 6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

#header-laptop #top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-laptop img {
  height: 4.5rem;
  padding-left: 2rem;
}

#header-laptop #nav {
  position: absolute;
  right: 2rem;
}

#header-laptop #nav a {
  text-decoration: none;
  color: #ffff;
  padding-left: 1rem;
}

#header-laptop #nav a:hover {
  color: #D33BAC;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer #address {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer #address #text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
}

.footer #address #text li {
  padding-top: 1rem;
}

.footer #socials {
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.footer h2 {
  padding-bottom: 20px;
  color: #ffff;
}

.footer a {
  color: #ffff;
  text-decoration: none;
  padding-right: 1rem;
  font-size: 3rem;
}

.footer a:hover {
  color: #731AC3;
}

.footer > div {
  width: 400px;
  margin: 10px;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #filter #list {
    width: 12.5% !important;
  }
  #filter .fourth {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  #filter #menu {
    display: none !important;
  }
  #inventory #box {
    width: 32%;
  }
}
/*# sourceMappingURL=style.css.map */