$black:#000;
$white: #ffff;
$gray: gray;
$pink: #D33BAC;
$purple: #731AC3;

$normal-background-color: linear-gradient(to bottom right, $pink, $purple);
$reverse-background-color: linear-gradient(to bottom right, $purple, $pink);


$normal-font: 13px;
$normal-font-word-spacing: 3px;
$normal-font-line-height:1.5;

@font-face {
    font-family: Montserrate;
    src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: League Spartant;
    src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: Montserrate;
}
body{
    background-color: $black;
    overflow-y: hidden;

}
h1{
    font-family: League Spartant;
    font-size: 2rem;
    color: $white;
}
p{
    color: $white;
    font-size: $normal-font;
    font-family: Montserrate;
}
h3{
    font-family: League Spartant;
    font-size: 1rem;
}
hr{
    height: 1.5px;
    background-color: $pink;
    border: none;
    opacity: 0.25;
  }
div{
  color: $white;
}
button{
  color: $white;
  padding: 1rem;
  border-style: none;
  background-image: $normal-background-color;
  border-radius: 50px;
}
button:hover{
  background-image: $reverse-background-color;
  cursor: pointer;
}
.footer{
    #socials{
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 10%;
      float: left;
      font-family: 'Montserrat', sans-serif;
    }
    p{
      font-size: 20px;
      color: $white;
    }
    a{
      color: #848687;
      text-decoration: none;
      font-size: 18.3px;
    }
  }

#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $white;
        }
        i:hover{
            cursor: pointer;
            color: $pink;
        }
        img{
            height: 2.5rem;
            padding-left: 2rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $white;
                padding: 0 0 2rem 0;
            }
            a:hover{
                color: $pink;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    z-index: 5;
    height: 4rem;
    display: flex;
    overflow-y: hidden;

    #top{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
    }
    img{
        height: 3.5rem;
    }
      a{
        text-decoration: none;
        color: $white;
        margin-left: 3rem;
      }
      a:hover{
        border-bottom: 2px solid $white;
      }
    display: none;
}

#first{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  #car_animation{
    width: 100%;
    //height: 100vh;
    display: none;
  }

  #top_car{
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
  }
  #intro{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 15rem;
    padding-left: 2rem;
    #used{
      padding: .2rem .5rem;
      margin-bottom: 1rem;
      background-color: $gray;
      width: fit-content;
      border-radius: 50px;
    }
    #info{
      padding-bottom: 2rem;
    }
  }
}

#second{
  //margin-top: 50vh;
  position: relative;
  overflow-y: hidden;
  height: 100vh;
  img{
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  #right{
    width: 70%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding-right: 1rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    h1{
      color: $pink;
      text-align: end;
    }
    #search-bar{
      overflow-y: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: $white;
      border-radius: 20px;
      margin: 1rem 0;
      #icon{
          font-size: 1.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
          color: $black;
      }
      input{
          height: 4rem;
          width: 100%;
          border-style: none;
          padding-right: 1rem;
      }
      input:focus {
          outline: none;
      }
      #go{
          background-image: $normal-background-color;
          color: $white;
          border-style: none;
          border-radius: 20px;
          width: 4rem;
          height: 3rem;
          margin-right: 1rem;
          overflow-y: hidden;
      }
      #go:hover{
          background-image: $reverse-background-color;
          cursor: pointer;
      }
    }
    #bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    #quatity, #quickly{
      text-align: end;
      width: 45%;
      i{
        color: $purple;
        font-size: 2rem;
      }
      h4{
        font-family: League Spartant;
        font-size: .8rem;
        margin-top: .5rem;
      }
    }
  }

}

#third{
  background-image: $normal-background-color;
  margin: 6rem 1rem !important;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  #left{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
    color: $purple;
  }
  #right{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 5rem;
    color: $pink;
  }
  #container{
    background-color: $black;
    padding: 3rem;
    display: flex;
    flex-direction: column;

    #person{
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      img{
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        margin-right: 1rem;
      }
    }
  }
}

#fourth{
  position: relative;
  //margin-top: 10rem;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: #731AC3;
  height: 100vh;
  #dissapear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      text-align: center;
      background-image: $normal-background-color;
      background-clip: text;
      color: transparent;
    }
    p{
      text-align: center;
    }
  }
  #appear{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    display: none;
    //margin: 6rem 0;
    #top, #bottom{
      width: 100%;
      #person{
        img{
          width: 100%;
        }
        #name{
          color: #731AC3;
        }
      }
    }
  }
}


@media only screen and (min-width: 300px){
}

@media only screen and (min-width: 600px) {

  #second{
    #right{
      width: 25rem;
    }
  }
  #fourth{
    #dissapear{
      p{
        width: 20rem;
      }
    }
    #appear{
      width: 90%;
      #top, #bottom{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #person{
          width: 10rem;
        }
      }
    }
  }


}

@media only screen and (min-width: 850px) {
  h1{
    font-size: 3rem !important;
  }
  #header-mobile{
    display:none;
  }
  #header-laptop{
      display: block;
  }

  #first{
    #top_car{
      display: none;
    }
    #car_animation{
      display: block;
    }
    #intro{
      margin-left: 5%;
      width: 17rem;
    }
  }

  #second{
    #right{
      margin-right:5%;
    }
  }
  #third{
    margin: 3rem 15rem !important;
  }
  #fourth{
    #dissapear{
      p{
        width: 30rem;
      }
    }
    #appear{
      flex-direction: row;
      margin-top: 20rem;
    }
  }

    //CONTACT FORM
    #opacity{
        width: 100%;
        height: 100%;
        background-color: $white;
        position: fixed;
        opacity: 0.5;
        z-index: 8;
    }
    #contact{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        border-radius: 5px;
        iframe{
            pointer-events: visible;
            opacity: 1;
            height: 300px;
        }
        form{
            border-radius: 5px;
            padding-left: 2rem;
            width: 300px !important;
            height: 500px;
            background-color: $white;
            position: absolute;
            left: 75%;
            
            h1{
                display: none;
            }
            #input{
                padding-top: 0 !important;
            }
            input{
                color: $black !important;
                border-bottom: 1px solid $black !important;
            }
            input::placeholder{
                color: $black !important;
            }
        }
    }
}


@media only screen and (min-width: 1000px){
    #inventory{
        #box{
            width: 32%;
        }
    }
}
