@font-face {
  font-family: Montserrate;
  src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: League Spartant;
  src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-family: Montserrate;
}

body {
  background-color: #000;
}

h1 {
  font-family: League Spartant;
  font-size: 2rem;
  color: white;
}

p {
  color: white;
  font-size: 13px;
  font-family: Montserrate;
}

h3 {
  font-family: League Spartant;
  font-size: 1rem;
}

hr {
  height: 1.5px;
  background-color: #D33BAC;
  border: none;
  opacity: 0.25;
}

div {
  color: white;
}

button {
  color: white;
  padding: 1rem;
  border-style: none;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  border-radius: 50px;
}

button:hover {
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer #address {
  width: 50%;
  justify-content: center;
}
.footer #address #text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.footer #address #text li {
  padding-top: 1rem;
}
.footer #socials {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.footer h2 {
  padding-bottom: 20px;
  color: gray;
}
.footer a {
  color: gray;
  text-decoration: none;
  padding-right: 1rem;
  font-size: 3rem;
}
.footer a:hover {
  color: #731AC3;
}

.footer > div {
  width: 400px;
  margin: 10px;
  text-align: center;
}

.footer2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}
.footer2 #address {
  width: 50%;
  justify-content: center;
}
.footer2 #address #text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.footer2 #address #text li {
  padding-top: 1rem;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
}
#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-mobile #top #after {
  display: none;
}
#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: white;
}
#header-mobile #top .active {
  color: #D33BAC;
}
#header-mobile #top i:hover {
  cursor: pointer;
  color: #D33BAC;
}
#header-mobile #top img {
  height: 2.5rem;
  padding-left: 2rem;
}
#header-mobile #container {
  display: none;
}
#header-mobile #container #bottom {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#header-mobile #container #bottom a {
  text-decoration: none;
  color: white;
  padding: 0 0 2rem 0;
}
#header-mobile #container #bottom a:hover {
  color: #D33BAC;
}

#header-laptop {
  width: 100%;
  position: fixed;
  z-index: 5;
  height: 6rem;
  display: flex;
  overflow-y: hidden;
  display: none;
}
#header-laptop #top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  background-color: #000;
}
#header-laptop img {
  height: 4.5rem;
}
#header-laptop .active {
  color: #D33BAC;
}
#header-laptop a {
  text-decoration: none;
  color: white;
  margin-left: 3rem;
}
#header-laptop a:hover {
  color: #D33BAC;
  cursor: pointer;
}

#contact {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #000;
  display: none;
}
#contact iframe {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}
#contact form {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  padding-top: 1rem;
  left: 50%;
  transform: translate(-45%, 0%);
}
#contact form p {
  padding-bottom: 3rem;
  color: gray;
}
#contact form h1 {
  color: white;
}
#contact form #input {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#contact form #input input {
  padding-top: 1rem;
  background: none;
  border-style: none;
  border-bottom: 1px solid white;
  padding-top: 3rem;
  color: white;
}
#contact form #input input::-moz-placeholder {
  color: white;
}
#contact form #input input::placeholder {
  color: white;
}
#contact form #input input:focus {
  outline: none;
}
#contact form #send {
  margin-top: 3rem;
  position: absolute;
  border: none;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 10px;
}
#contact form #send i {
  color: white;
  font-size: 10px;
}
#contact i {
  font-size: 1.5rem;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#contact i:hover {
  cursor: pointer;
}

#first {
  top: 5rem;
  position: absolute;
  width: 100%;
}
#first .container {
  position: relative;
}
#first #section1 {
  position: sticky;
  width: 17rem;
  padding-left: 2rem;
  z-index: 1;
  top: 35%;
}
#first #section1 #used {
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  background-color: gray;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}
#first #section1 #info {
  padding-bottom: 2rem;
}
#first #section2 {
  position: sticky;
  left: 95%;
  top: 40%;
  padding-right: 2rem;
  display: flex;
  align-items: end;
  flex-direction: column;
  z-index: 1;
}
#first #section2 h1 {
  color: #D33BAC;
  text-align: end;
}
#first #section2 #search-bar {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 1rem 0;
}
#first #section2 #search-bar #icon {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #000;
}
#first #section2 #search-bar input {
  height: 4rem;
  width: 100%;
  border-style: none;
  padding-right: 1rem;
}
#first #section2 #search-bar input:focus {
  outline: none;
}
#first #section2 #search-bar #go {
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
  overflow-y: hidden;
}
#first #section2 #search-bar #go:hover {
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}
#first #section2 #bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#first #section2 #quatity, #first #section2 #quickly {
  text-align: end;
  width: 45%;
}
#first #section2 #quatity i, #first #section2 #quickly i {
  color: #731AC3;
  font-size: 2rem;
}
#first #section2 #quatity h4, #first #section2 #quickly h4 {
  font-family: League Spartant;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
#first .container:nth-of-type(1) {
  height: 800px;
}
#first .container:nth-of-type(2) {
  height: 800px;
}

#video {
  position: relative;
  height: 1800px;
  display: block;
}
#video #v0 {
  position: sticky;
  top: 0%;
  left: 0;
  width: 100%;
}

#third {
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  margin: 6rem 1rem !important;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}
#third #left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5rem;
  color: #731AC3;
}
#third #right {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 5rem;
  color: #D33BAC;
}
#third #container {
  background-color: #000;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
#third #container #person {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
#third #container #person img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  margin-right: 1rem;
}

#fourth {
  position: relative;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#fourth #dissapear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#fourth #dissapear h1 {
  text-align: center;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#fourth #dissapear p {
  text-align: center;
}
#fourth #appear {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  display: none;
}
#fourth #appear #top, #fourth #appear #bottom {
  width: 100%;
}
#fourth #appear #top #person img, #fourth #appear #bottom #person img {
  width: 100%;
}
#fourth #appear #top #person #name, #fourth #appear #bottom #person #name {
  color: #731AC3;
}

@media only screen and (min-width: 600px) {
  #first #section2 {
    width: 25rem;
  }
  #fourth #dissapear p {
    width: 20rem;
  }
  #fourth #appear {
    width: 90%;
  }
  #fourth #appear #top, #fourth #appear #bottom {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #fourth #appear #top #person, #fourth #appear #bottom #person {
    width: 10rem;
  }
}
@media only screen and (min-width: 850px) {
  h1 {
    font-size: 3rem !important;
  }
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #opacity {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    opacity: 0.5;
    z-index: 8;
    display: none;
  }
  #contact {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 5px;
  }
  #contact iframe {
    pointer-events: visible;
    opacity: 1;
    height: 300px;
  }
  #contact form {
    border-radius: 5px;
    padding-left: 2rem;
    width: 300px !important;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 75%;
  }
  #contact form h1 {
    display: none;
  }
  #contact form #input {
    padding-top: 0 !important;
  }
  #contact form input {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  #contact form input::-moz-placeholder {
    color: #000 !important;
  }
  #contact form input::placeholder {
    color: #000 !important;
  }
  #first {
    top: 5rem;
    position: absolute;
    width: 100%;
  }
  #first .container {
    position: relative;
  }
  #first #section1 {
    position: sticky;
    width: 17rem;
    padding-left: 2rem;
    z-index: 1;
    top: 35%;
  }
  #first #section1 #used {
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    background-color: gray;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50px;
  }
  #first #section1 #info {
    padding-bottom: 2rem;
  }
  #first #section2 {
    position: sticky;
    left: 95%;
    top: 40%;
    padding-right: 2rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    z-index: 1;
  }
  #first #section2 h1 {
    color: #D33BAC;
    text-align: end;
  }
  #first #section2 #search-bar {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 1rem 0;
  }
  #first #section2 #search-bar #icon {
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #000;
  }
  #first #section2 #search-bar input {
    height: 4rem;
    width: 100%;
    border-style: none;
    padding-right: 1rem;
  }
  #first #section2 #search-bar input:focus {
    outline: none;
  }
  #first #section2 #search-bar #go {
    background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
    color: white;
    border-style: none;
    border-radius: 20px;
    width: 4rem;
    height: 3rem;
    margin-right: 1rem;
    overflow-y: hidden;
  }
  #first #section2 #search-bar #go:hover {
    background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
    cursor: pointer;
  }
  #first #section2 #bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #first #section2 #quatity, #first #section2 #quickly {
    text-align: end;
    width: 45%;
  }
  #first #section2 #quatity i, #first #section2 #quickly i {
    color: #731AC3;
    font-size: 2rem;
  }
  #first #section2 #quatity h4, #first #section2 #quickly h4 {
    font-family: League Spartant;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  #first .container:nth-of-type(1) {
    height: 800px;
  }
  #first .container:nth-of-type(2) {
    height: 800px;
  }
  #video {
    position: relative;
    height: 1800px;
    display: block;
  }
  #video #v0 {
    position: sticky;
    top: 0%;
    left: 0;
    width: 100%;
  }
  #third {
    margin: 3rem 15rem !important;
  }
  #fourth #dissapear p {
    width: 30rem;
  }
  #fourth #appear {
    flex-direction: row;
    margin-top: 20rem;
  }
}
@media only screen and (min-width: 1000px) {
  #inventory #box {
    width: 32%;
  }
}/*# sourceMappingURL=style.css.map */