@font-face {
  font-family: Montserrate;
  src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: League Spartant;
  src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: Montserrate;
}

body {
  background-color: #000;
  overflow-y: hidden;
}

h1 {
  font-family: League Spartant;
  font-size: 2rem;
  color: #ffff;
}

p {
  color: #ffff;
  font-size: 13px;
  font-family: Montserrate;
}

h3 {
  font-family: League Spartant;
  font-size: 1rem;
}

hr {
  height: 1.5px;
  background-color: #D33BAC;
  border: none;
  opacity: 0.25;
}

div {
  color: #ffff;
}

button {
  color: #ffff;
  padding: 1rem;
  border-style: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  border-radius: 50px;
}

button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#731AC3), to(#D33BAC));
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}

.footer #socials {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  float: left;
  font-family: 'Montserrat', sans-serif;
}

.footer p {
  font-size: 20px;
  padding-bottom: 20px;
  color: #ffff;
}

.footer a {
  color: #848687;
  text-decoration: none;
  font-size: 18.3px;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
}

#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-mobile #top #after {
  display: none;
}

#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #ffff;
}

#header-mobile #top .active {
  color: #D33BAC;
}

#header-mobile #top i:hover {
  cursor: pointer;
  color: #D33BAC;
}

#header-mobile #top img {
  height: 2.5rem;
  padding-left: 2rem;
}

#header-mobile #container {
  display: none;
}

#header-mobile #container #bottom {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

#header-mobile #container #bottom a {
  text-decoration: none;
  color: #ffff;
  padding: 0 0 2rem 0;
}

#header-mobile #container #bottom a:hover {
  color: #D33BAC;
}

#header-laptop {
  width: 100%;
  position: fixed;
  z-index: 5;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  display: none;
}

#header-laptop #top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

#header-laptop img {
  height: 3.5rem;
}

#header-laptop .active {
  color: #D33BAC;
}

#header-laptop a {
  text-decoration: none;
  color: #ffff;
  margin-left: 3rem;
}

#header-laptop a:hover {
  color: #D33BAC;
  cursor: pointer;
}

#first {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#first #car_animation {
  width: 100%;
  display: none;
}

#first #top_car {
  left: 90%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
}

#first #intro {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 15rem;
  padding-left: 2rem;
}

#first #intro #used {
  padding: .2rem .5rem;
  margin-bottom: 1rem;
  background-color: gray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

#first #intro #info {
  padding-bottom: 2rem;
}

#second {
  position: relative;
  overflow-y: hidden;
  height: 100vh;
}

#second img {
  width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#second #right {
  width: 70%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#second #right h1 {
  color: #D33BAC;
  text-align: end;
}

#second #right #search-bar {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #ffff;
  border-radius: 20px;
  margin: 1rem 0;
}

#second #right #search-bar #icon {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #000;
}

#second #right #search-bar input {
  height: 4rem;
  width: 100%;
  border-style: none;
  padding-right: 1rem;
}

#second #right #search-bar input:focus {
  outline: none;
}

#second #right #search-bar #go {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: #ffff;
  border-style: none;
  border-radius: 20px;
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
  overflow-y: hidden;
}

#second #right #search-bar #go:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#731AC3), to(#D33BAC));
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}

#second #right #bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#second #right #quatity, #second #right #quickly {
  text-align: end;
  width: 45%;
}

#second #right #quatity i, #second #right #quickly i {
  color: #731AC3;
  font-size: 2rem;
}

#second #right #quatity h4, #second #right #quickly h4 {
  font-family: League Spartant;
  font-size: .8rem;
  margin-top: .5rem;
}

#third {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  margin: 6rem 1rem !important;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}

#third #left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5rem;
  color: #731AC3;
}

#third #right {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 5rem;
  color: #D33BAC;
}

#third #container {
  background-color: #000;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#third #container #person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

#third #container #person img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  margin-right: 1rem;
}

#fourth {
  position: relative;
  padding: 6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

#fourth #dissapear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fourth #dissapear h1 {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  background-clip: text;
  color: transparent;
}

#fourth #dissapear p {
  text-align: center;
}

#fourth #appear {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  display: none;
}

#fourth #appear #top, #fourth #appear #bottom {
  width: 100%;
}

#fourth #appear #top #person img, #fourth #appear #bottom #person img {
  width: 100%;
}

#fourth #appear #top #person #name, #fourth #appear #bottom #person #name {
  color: #731AC3;
}

@media only screen and (min-width: 600px) {
  #second #right {
    width: 25rem;
  }
  #fourth #dissapear p {
    width: 20rem;
  }
  #fourth #appear {
    width: 90%;
  }
  #fourth #appear #top, #fourth #appear #bottom {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #fourth #appear #top #person, #fourth #appear #bottom #person {
    width: 10rem;
  }
}

@media only screen and (min-width: 850px) {
  h1 {
    font-size: 3rem !important;
  }
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #first #top_car {
    display: none;
  }
  #first #car_animation {
    display: block;
  }
  #first #intro {
    margin-left: 5%;
    width: 17rem;
  }
  #second #right {
    margin-right: 5%;
  }
  #third {
    margin: 3rem 15rem !important;
  }
  #fourth #dissapear p {
    width: 30rem;
  }
  #fourth #appear {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20rem;
  }
  #opacity {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    position: fixed;
    opacity: 0.5;
    z-index: 8;
  }
  #contact {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 5px;
  }
  #contact iframe {
    pointer-events: visible;
    opacity: 1;
    height: 300px;
  }
  #contact form {
    border-radius: 5px;
    padding-left: 2rem;
    width: 300px !important;
    height: 500px;
    background-color: #ffff;
    position: absolute;
    left: 75%;
  }
  #contact form h1 {
    display: none;
  }
  #contact form #input {
    padding-top: 0 !important;
  }
  #contact form input {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  #contact form input::-webkit-input-placeholder {
    color: #000 !important;
  }
  #contact form input:-ms-input-placeholder {
    color: #000 !important;
  }
  #contact form input::-ms-input-placeholder {
    color: #000 !important;
  }
  #contact form input::placeholder {
    color: #000 !important;
  }
}

@media only screen and (min-width: 1000px) {
  #inventory #box {
    width: 32%;
  }
}
/*# sourceMappingURL=style.css.map */