@font-face {
  font-family: Montserrate;
  src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: League Spartant;
  src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: Montserrate;
}

body {
  background-color: #000;
  overflow-y: hidden;
}

p {
  font-size: 13px;
  font-family: Montserrate;
  line-height: 1.5rem;
}

h3 {
  font-family: Montserrate;
  font-size: 1.3rem;
  color: #ffff;
}

hr {
  height: 1.5px;
  background-color: #D33BAC;
  border: none;
  opacity: 0.25;
}

.footer #socials {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  float: left;
  font-family: 'Montserrat', sans-serif;
}

.footer p {
  font-size: 20px;
  color: #ffff;
}

.footer a {
  color: #848687;
  text-decoration: none;
  font-size: 18.3px;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
}

#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-mobile #top #after {
  display: none;
}

#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #ffff;
}

#header-mobile #top i:hover {
  cursor: pointer;
}

#header-mobile #top img {
  height: 2.5rem;
  padding-left: 2rem;
}

#header-mobile #container {
  display: none;
}

#header-mobile #container #bottom {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

#header-mobile #container #bottom a {
  text-decoration: none;
  color: #ffff;
  padding: 0 0 2rem 0;
}

#header-mobile #container #bottom a:hover {
  text-decoration: underline;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
  height: 6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

#header-laptop #top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-laptop img {
  height: 4.5rem;
  padding-left: 2rem;
}

#header-laptop #nav {
  position: absolute;
  right: 2rem;
}

#header-laptop #nav a {
  text-decoration: none;
  color: #ffff;
  padding-left: 1rem;
}

#search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
  padding: 3rem 0rem;
}

#search #search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
  background-color: #ffff;
  border-radius: 20px;
}

#search #search-bar #icon {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#search #search-bar input {
  height: 4rem;
  width: 100%;
  border-style: none;
  padding-right: 1rem;
}

#search #search-bar input:focus {
  outline: none;
}

#search #search-bar #go {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: #ffff;
  border-style: none;
  border-radius: 20px;
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
}

#search #search-bar #go:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#731AC3), to(#D33BAC));
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}

#search #filter {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 93%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search #filter #list {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  border-radius: 25px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  width: 36%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search #filter #list i {
  font-size: 10px;
}

#search #filter #menu {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#D33BAC), to(#731AC3));
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: #ffff;
  font-size: 1.5rem;
  padding: .7rem;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 300px) {
  h1 {
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  #filter #list {
    width: 25% !important;
  }
  #filter .first {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media only screen and (min-width: 850px) {
  h3 {
    font-size: 2rem !important;
  }
  p {
    line-height: 1.5;
  }
  #header-mobile #top {
    height: 6rem;
  }
  #header-mobile #top img {
    height: 4.5rem;
  }
  #header-mobile #top i {
    font-size: 2.7rem;
  }
  #filter #list {
    width: 15% !important;
  }
  #filter .second, #filter .third {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media only screen and (min-width: 1000px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #filter #list {
    width: 12.5% !important;
  }
  #filter .fourth {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  #filter #menu {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */