$black:#000;
$white: #ffff;
$gray: gray;
$pink: #D33BAC;
$purple: #731AC3;

$normal-background-color: linear-gradient(to bottom right, $pink, $purple);
$reverse-background-color: linear-gradient(to bottom right, $purple, $pink);


$normal-font: 13px;
$normal-font-word-spacing: 3px;
$normal-font-line-height:1.5;

@font-face {
    font-family: Montserrate;
    src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: League Spartant;
    src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: Montserrate;
}


body{
    background-color: $black;
    overflow-y: hidden;
}
h1{
    font-family: League Spartant;
    font-size: 2rem;
}
p{
    font-size: $normal-font;
    font-family: Montserrate;
    line-height: 1.5rem;
}
h3{
    font-family: League Spartant;
    font-size: 1.2rem;
}
hr{
    height: 1.5px;
    background-color: $pink;
    border: none;
    opacity: 0.25;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #address{
      width: 50%;
      justify-content: center;
      #text{
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
        color: $gray;
        li{
          padding-top: 1rem;
        }
    }
    }
    #socials{
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
      }
      h2{
        padding-bottom: 20px;
        color: $gray;
      }
      a{
        color: $gray;
        text-decoration: none;
        padding-right: 1rem;
        font-size: 3rem;
      }
      a:hover{
        color: $purple;
      }
    }
    .footer > div{
      width: 400px;
      margin: 10px;
      text-align: center;
    }
    .footer2{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
        #address{
          width: 50%;
          justify-content: center;
          #text{
            padding-top: 50px;
            padding-bottom: 50px;
            font-family: 'Montserrat', sans-serif;
            color: $gray;
            li{
              padding-top: 1rem;
            }
          }
        }
      }
#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $white;
        }
        .active{
            color: $pink;
        }
        i:hover{
            cursor: pointer;
            color: $pink;
        }
        img{
            height: 2.5rem;
            padding-left: 2rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $white;
                padding: 0 0 2rem 0;
            }
            a:hover{
                color: $pink;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
        padding-left: 2rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $white;
            padding-left: 1rem;
        }
        .active{
            color: $pink;
        }
        a:hover{
            color: $pink;
            cursor: pointer;
        }
    }
    display: none;
}
//CONTACT US
#contact{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: $black;
    display: none;
    iframe{
        position: relative;
        pointer-events: none;
        opacity: 0.5;
    }
    form{
        position: absolute;
        width: 100%;
        height: 100vh;
        top:0%;
        padding-top: 1rem;
        left: 50%;
        transform: translate(-45%,0%);
        p{
            padding-bottom: 3rem;
            color: $gray;
        }
        h1{
            color: $white;
        }
        #input{
            display: flex;
            flex-direction: column;
            width: 90%;
            input{
                padding-top: 1rem;
                background: none;
                border-style: none;
                border-bottom: 1px solid $white;
                padding-top: 3rem;
                color: $white;
            }
            input::placeholder{
                color: $white;
            }
            input:focus{
                outline: none;
            }
        }
        #send{
            margin-top: 3rem;
            position: absolute;
            border: none;
            background-image: $normal-background-color;
            color: $white;
            padding: 1rem;
            border-radius: 5px;
            font-size: 10px;
            i{
                color: $white;
                font-size: 10px;
            }
        }
    }
    i{
        font-size: 1.5rem;
        color: $white;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    i:hover{
        cursor: pointer;
    }
  }

//MAIN
#search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 3rem 0rem;
    #search-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        //padding: 0rem 1rem 0rem 1rem;
        width: 93%;
        background-color: $white;
        border-radius: 20px;
        #icon{
            font-size: 1.5rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        input{
            height: 4rem;
            width: 100%;
            border-style: none;
            padding-right: 1rem;
        }
        input:focus {
            outline: none;
        }
        #go{
            background-image: $normal-background-color;
            color: $white;
            border-style: none;
            border-radius: 20px;
            width: 4rem;
            height: 3rem;
            margin-right: 1rem;
        }
        #go:hover{
            background-image: $reverse-background-color;
            cursor: pointer;
        }
    }

    #filter{
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 93%;
        justify-content: space-between;
        align-items: center;
        .list{
            background-image: $normal-background-color;
            color: $white;
            display: flex;
            height: 3rem;
            border-radius: 25px;
            border-style: none;
            align-items: center;
            padding: 0 1rem;
            cursor: pointer;
            justify-content: space-between;
            i{
                font-size:10px;
            }
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: $white;
            z-index: 3;
            box-shadow: 5px 5px 100px $black;
            border-radius: 5px;
            width: 20rem;
            top: 17rem;

            button {
                padding: 1rem;
                text-decoration: none;
                display: block;
                box-shadow: none;
                border-style: none;
                background-color: $white;
                width: 100%;
                height: 100%;
            }
        }
        .item > li{
            width: 20rem;
            border-bottom: 1px solid lightgray;
            padding: .5rem;
            button{
                font-family: Montserrate;
                //font-weight: 900;
                font-size: 16px;
                padding: 1rem;
                text-align: start;
            }
            &:last-child{
                border-bottom: none;
            }
        }
        .item > li:hover{
            cursor: pointer;
            button{
                color: $purple;
                cursor: pointer;
                font-size: 17px;
            }
        }
        #price-down{
            left: 10%;
        }
        #miles-down{
            left: 20%;
        }
        #year-down{
            right: 20%;
        }
        #manufacturer-down{
            right: 5%;
        }
        .show {
            display: flex;
        }
    }

}

#inventory{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    .box{
        background-color: $white;
        border-radius: 5px;
        margin-top: 1rem;
        img{
            width: 100%;
        }
        h3{
            padding: 1rem 1rem 0 1rem;
        }
        p{
            font-size: 12px;
        }
        #info{
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
        }
        #bottom{
            display: flex;
            flex-direction: row;
            padding: 3rem 1rem 1rem 1rem;
            justify-content: space-between;
        }
    }

    #skip{
        width: 100%;
        padding: 3rem 0 5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p{
            color: $white;
        }
        #left, #right{
            display: flex;
            justify-content: center;
            i, button{
                color: $white;
                background-image: $normal-background-color;
                border-style: none;
                padding: 1rem;
                border-radius: 5px;
            }
            button:hover {
                background-image: $reverse-background-color;
            }
            button:enabled:active {
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }
            button:disabled,
            button[disabled]{
                color: $white;
                background-image: $normal-background-color;
                border-style: none;
                padding: 1rem;
                border-radius: 5px;
                cursor: not-allowed;
            }
        }
    }
}





@media only screen and (min-width: 300px){
}

@media only screen and (min-width: 600px) {
    #filter{
        .list{
            width: 36% !important;
        }
        .first{
            display: inline-flex !important;
        }
    }
}

@media only screen and (min-width: 850px) {
    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }
    #filter{
        .list{
            width: 25% !important;
        }
        .second, .third{
            display: inline-flex !important;
        }
    }

    #inventory{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between !important;
        .box{
            width: 49%;
        }
    }
    //CONTACT
    #opacity{
        width: 100%;
        height: 100%;
        background-color: $white;
        position: fixed;
        opacity: 0.5;
        z-index: 8;
        display: none;
    }
    #opacity:hover{
      cursor: pointer;
    }
      #contact{
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          border-radius: 5px;
          iframe{
              pointer-events: visible;
              opacity: 1;
              height: 300px;
          }
          form{
              border-radius: 5px;
              padding-left: 2rem;
              width: 300px !important;
              height: 500px;
              background-color: $white;
              position: absolute;
              left: 75%;
              
              h1{
                  display: none;
              }
              #input{
                  padding-top: 0 !important;
              }
              input{
                  color: $black !important;
                  border-bottom: 1px solid $black !important;
              }
              input::placeholder{
                  color: $black !important;
              }
          }
      }
}


@media only screen and (min-width: 1000px){
    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #filter{
        .list{
            width: 20% !important;
        }
        .fourth{
            display: inline-flex !important;
        }
        #menu{
            display: none !important;
        }
    }
    #inventory{
        .box{
            width: 32%;
        }
    }
}

@media only screen and (max-width: 500px){

}