@font-face {
  font-family: Montserrate;
  src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: League Spartant;
  src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: Montserrate;
}

body {
  background-color: #000;
  overflow-y: hidden;
}

h1 {
  font-family: League Spartant;
  font-size: 2rem;
}

p {
  font-size: 13px;
  font-family: Montserrate;
  line-height: 1.5rem;
}

h3 {
  font-family: League Spartant;
  font-size: 1.2rem;
}

hr {
  height: 1.5px;
  background-color: #D33BAC;
  border: none;
  opacity: 0.25;
}

.footer #socials {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  float: left;
  font-family: "Montserrat", sans-serif;
}
.footer p {
  font-size: 20px;
  color: white;
}
.footer a {
  color: #848687;
  text-decoration: none;
  font-size: 18.3px;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
}
#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-mobile #top #after {
  display: none;
}
#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: white;
}
#header-mobile #top i:hover {
  cursor: pointer;
  color: #D33BAC;
}
#header-mobile #top img {
  height: 2.5rem;
  padding-left: 2rem;
}
#header-mobile #container {
  display: none;
}
#header-mobile #container #bottom {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#header-mobile #container #bottom a {
  text-decoration: none;
  color: white;
  padding: 0 0 2rem 0;
}
#header-mobile #container #bottom a:hover {
  color: #D33BAC;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
  height: 6rem !important;
  display: flex;
  display: none;
}
#header-laptop #top {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-laptop img {
  height: 4.5rem;
  padding-left: 2rem;
}
#header-laptop #nav {
  position: absolute;
  right: 2rem;
}
#header-laptop #nav a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}
#header-laptop #nav a:hover {
  color: #D33BAC;
}

#contact {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #000;
}
#contact iframe {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}
#contact form {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  padding-top: 1rem;
  left: 50%;
  transform: translate(-45%, 0%);
}
#contact form p {
  padding-bottom: 3rem;
  color: gray;
}
#contact form h1 {
  color: white;
}
#contact form #input {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#contact form #input input {
  padding-top: 1rem;
  background: none;
  border-style: none;
  border-bottom: 1px solid white;
  padding-top: 3rem;
  color: white;
}
#contact form #input input::-moz-placeholder {
  color: white;
}
#contact form #input input::placeholder {
  color: white;
}
#contact form #input input:focus {
  outline: none;
}
#contact form #send {
  margin-top: 3rem;
  position: absolute;
  border: none;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 10px;
}
#contact form #send i {
  color: white;
  font-size: 10px;
}
#contact i {
  font-size: 1.5rem;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#contact i:hover {
  cursor: pointer;
}

#search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  padding: 3rem 0rem;
}
#search #search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 93%;
  background-color: white;
  border-radius: 20px;
}
#search #search-bar #icon {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
#search #search-bar input {
  height: 4rem;
  width: 100%;
  border-style: none;
  padding-right: 1rem;
}
#search #search-bar input:focus {
  outline: none;
}
#search #search-bar #go {
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
}
#search #search-bar #go:hover {
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}
#search #filter {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 93%;
  justify-content: space-between;
  align-items: center;
}
#search #filter .list {
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  display: flex;
  height: 3rem;
  border-radius: 25px;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  justify-content: space-between;
}
#search #filter .list i {
  font-size: 10px;
}
#search #filter .dropdown-menu {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  height: 6rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
}
#search #filter .dropdown-menu button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-color: #f1f1f1;
  box-shadow: none;
}
#search #filter .show {
  display: flex;
}
#search #filter #menu {
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

#inventory {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
#inventory .box {
  background-color: white;
  border-radius: 5px;
  margin-top: 1rem;
}
#inventory .box img {
  width: 100%;
}
#inventory .box h3 {
  padding: 1rem 1rem 0 1rem;
}
#inventory .box p {
  font-size: 12px;
}
#inventory .box #info {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
}
#inventory .box #bottom {
  display: flex;
  flex-direction: row;
  padding: 3rem 1rem 1rem 1rem;
  justify-content: space-between;
}
#inventory #skip {
  width: 100%;
  padding: 3rem 0 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#inventory #skip p {
  color: white;
}
#inventory #skip #left, #inventory #skip #right {
  display: flex;
  justify-content: center;
}
#inventory #skip #left i, #inventory #skip #left button, #inventory #skip #right i, #inventory #skip #right button {
  color: white;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  border-style: none;
  padding: 1rem;
  border-radius: 5px;
}
#inventory #skip #left button:hover, #inventory #skip #right button:hover {
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
}
#inventory #skip #left button:enabled:active, #inventory #skip #right button:enabled:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#inventory #skip #left button:disabled,
#inventory #skip #left button[disabled], #inventory #skip #right button:disabled,
#inventory #skip #right button[disabled] {
  color: white;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  border-style: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: not-allowed;
}

@media only screen and (min-width: 600px) {
  #filter .list {
    width: 36% !important;
  }
  #filter .first {
    display: inline-flex !important;
  }
}
@media only screen and (min-width: 850px) {
  #header-mobile #top {
    height: 6rem;
  }
  #header-mobile #top img {
    height: 4.5rem;
  }
  #header-mobile #top i {
    font-size: 2.7rem;
  }
  #filter .list {
    width: 25% !important;
  }
  #filter .second, #filter .third {
    display: inline-flex !important;
  }
  #inventory {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between !important;
  }
  #inventory .box {
    width: 49%;
  }
  #opacity {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    opacity: 0.5;
    z-index: 8;
  }
  #contact {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 5px;
  }
  #contact iframe {
    pointer-events: visible;
    opacity: 1;
    height: 300px;
  }
  #contact form {
    border-radius: 5px;
    padding-left: 2rem;
    width: 300px !important;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 75%;
  }
  #contact form h1 {
    display: none;
  }
  #contact form #input {
    padding-top: 0 !important;
  }
  #contact form input {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  #contact form input::-moz-placeholder {
    color: #000 !important;
  }
  #contact form input::placeholder {
    color: #000 !important;
  }
}
@media only screen and (min-width: 1000px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #filter .list {
    width: 15% !important;
  }
  #filter .fourth {
    display: inline-flex !important;
  }
  #filter #menu {
    display: none !important;
  }
  #inventory .box {
    width: 32%;
  }
}/*# sourceMappingURL=style.css.map */