$black:#000;
$white: #ffff;
$gray: gray;
$pink: #D33BAC;
$purple: #731AC3;

$normal-background-color: linear-gradient(to bottom right, $pink, $purple);
$reverse-background-color: linear-gradient(to bottom right, $purple, $pink);


$normal-font: 13px;
$normal-font-word-spacing: 3px;
$normal-font-line-height:1.5;

@font-face {
    font-family: Montserrate;
    src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: League Spartant;
    src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-Bold.ttf);
}

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: Montserrate;
}


body{
    background-color: $black;
    overflow-y: hidden;
}
h1{
    font-family: League Spartant;
    font-size: 2rem;
}
p{
    font-size: $normal-font;
    font-family: Montserrate;
    line-height: 1.5rem;
}
h3{
    font-family: Montserrate;
    font-size: 1.3rem;
    color: $white
}
hr{
    height: 1.5px;
    background-color: $pink;
    border: none;
    opacity: 0.25;
  }
.footer{
    #socials{
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 10%;
      float: left;
      font-family: 'Montserrat', sans-serif;
    }
    p{
      font-size: 20px;
      color: $white;
    }
    a{
      color: #848687;
      text-decoration: none;
      font-size: 18.3px;
    }
  }

#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $white;
        }
        i:hover{
            cursor: pointer;
            color: $pink;
        }
        img{
            height: 2.5rem;
            padding-left: 2rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $white;
                padding: 0 0 2rem 0;
            }
            a:hover{
                color: $pink;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
        padding-left: 2rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $white;
            padding-left: 1rem;
        }
        a:hover{
            color: $pink;
        }
    }
    display: none;
}

#contact{
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: $black;
    iframe{
        position: relative;
        pointer-events: none;
        opacity: 0.5;
    }
    form{
        position: absolute;
        width: 100%;
        height: 700px;
        top:0%;
        padding-top: 1rem;
        left: 50%;
        transform: translate(-45%,0%);
        p{
            padding-bottom: 3rem;
            color: $gray;
        }
        h1{
            color: $white;
        }
        #input{
            display: flex;
            flex-direction: column;
            width: 90%;
            input{
                padding-top: 1rem;
                background: none;
                border-style: none;
                border-bottom: 1px solid $white;
                padding-top: 3rem;
                color: $white;
            }
            input::placeholder{
                color: $white;
            }
            input:focus{
                outline: none;
            }
        }
        #send{
            margin-top: 3rem;
            position: absolute;
            border: none;
            background-image: $normal-background-color;
            color: $white;
            padding: 1rem;
            border-radius: 5px;
            font-size: 10px;
            i{
                color: $white;
                font-size: 10px;
            }
        }
    }
}

//MAIN
#search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 3rem 0rem;
    #search-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        //padding: 0rem 1rem 0rem 1rem;
        width: 93%;
        background-color: $white;
        border-radius: 20px;
        #icon{
            font-size: 1.5rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        input{
            height: 4rem;
            width: 100%;
            border-style: none;
            padding-right: 1rem;
        }
        input:focus {
            outline: none;
        }
        #go{
            background-image: $normal-background-color;
            color: $white;
            border-style: none;
            border-radius: 20px;
            width: 4rem;
            height: 3rem;
            margin-right: 1rem;
        }
        #go:hover{
            background-image: $reverse-background-color;
            cursor: pointer;
        }
    }

    #filter{
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 93%;
        justify-content: space-between;
        align-items: center;
        #list{
            background-image: $normal-background-color;
            color: $white;
            display: flex;
            height: 3rem;
            border-radius: 25px;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            width: 36%;
            justify-content: space-between;
            i{
                font-size:10px;
            }
        }
        #menu{
            background-image: $normal-background-color;
            color:$white;
            font-size: 1.5rem;
            padding: .7rem;
            border-radius: 25px;
            display: flex;
            justify-content: center;
        }
    }

}





@media only screen and (min-width: 300px){
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    h1{
        font-size: $h1 !important;
    }
    h3{
        font-size: $h3 !important;
    }


    #filter{
        #list{
            width: 25% !important;
        }
        .first{
            display: inline-flex !important;
        }
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;

    h3{
        font-size: $h3 !important;
    }

    p{
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }

    #filter{
        #list{
            width: 15% !important;
        }
        .second, .third{
            display: inline-flex !important;
        }
    }
}


@media only screen and (min-width: 1000px){
    $h1: 4rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #filter{
        #list{
            width: 12.5% !important;
        }
        .fourth{
            display: inline-flex !important;
        }
        #menu{
            display: none !important;
        }
    }
}

@media only screen and (max-width: 500px){

}