@font-face {
  font-family: Montserrate;
  src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: League Spartant;
  src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: Montserrate;
}

body {
  overflow-y: hidden;
  background-color: #000;
}
body video {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-family: League Spartant;
  font-size: 2rem;
}

p {
  font-size: 13px;
  font-family: Montserrate;
  line-height: 1.5rem;
}

h3 {
  font-family: League Spartant;
  font-size: 1.2rem;
}

hr {
  height: 1.5px;
  background-color: #D33BAC;
  border: none;
  opacity: 0.25;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
}
#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-mobile #top #after {
  display: none;
}
#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: white;
}
#header-mobile #top i:hover {
  cursor: pointer;
  color: #D33BAC;
}
#header-mobile #top img {
  height: 2.5rem;
  padding-left: 2rem;
}
#header-mobile #container {
  display: none;
}
#header-mobile #container #bottom {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#header-mobile #container #bottom a {
  text-decoration: none;
  color: white;
  padding: 0 0 2rem 0;
}
#header-mobile #container #bottom a:hover {
  color: #D33BAC;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 5;
  height: 6rem !important;
  display: flex;
  display: none;
}
#header-laptop #top {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-laptop img {
  height: 4.5rem;
  padding-left: 2rem;
}
#header-laptop #nav {
  position: absolute;
  right: 2rem;
}
#header-laptop #nav a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}
#header-laptop #nav a:hover {
  color: #D33BAC;
}

#contact {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #000;
  display: none;
}
#contact iframe {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}
#contact form {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  padding-top: 1rem;
  left: 50%;
  transform: translate(-45%, 0%);
}
#contact form p {
  padding-bottom: 3rem;
  color: gray;
}
#contact form h1 {
  color: white;
}
#contact form #input {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#contact form #input input {
  padding-top: 1rem;
  background: none;
  border-style: none;
  border-bottom: 1px solid white;
  padding-top: 3rem;
  color: white;
}
#contact form #input input::-moz-placeholder {
  color: white;
}
#contact form #input input::placeholder {
  color: white;
}
#contact form #input input:focus {
  outline: none;
}
#contact form #send {
  margin-top: 3rem;
  position: absolute;
  border: none;
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 10px;
}
#contact form #send i {
  color: white;
  font-size: 10px;
}
#contact i {
  font-size: 1.5rem;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#contact i:hover {
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#container #left {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#container #left p {
  margin-bottom: 3rem;
}
#container #left div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
#container #left div input {
  border: 0.5px solid gray;
  height: 3rem;
  border-radius: 5px;
  padding-left: 5px;
}
#container #left div select {
  border: 0.5px solid gray;
  height: 3rem;
  border-radius: 5px;
  padding-left: 5px;
  width: 44%;
}
#container #right {
  border-radius: 5px;
  margin-top: 2rem;
}
#container #right #top {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
}
#container #right #top #payment {
  background-image: linear-gradient(to bottom right, #D33BAC, #731AC3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2rem;
}
#container #right #top #payment h4 {
  color: white;
}
#container #right #top #payment #monthly {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
}
#container #right #top #payment #price {
  margin-top: 1rem;
  color: white;
  font-size: 4rem;
  font-family: League Spartant;
}
#container #right #top #payment #apr {
  color: white;
}
#container #right #top div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#container #right #top hr {
  margin: 1rem 0;
  color: #731AC3 !important;
}
#container #right #bottom {
  background-color: white;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 2rem;
}
#container #right #bottom p {
  margin: 1rem 0;
}
#container #right #bottom button {
  background-color: #731AC3;
  color: white;
  border-style: none;
  padding: 1rem;
  border-radius: 5px;
}
#container #right #bottom button:hover {
  background-image: linear-gradient(to bottom right, #731AC3, #D33BAC);
  cursor: pointer;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer #address {
  width: 50%;
  justify-content: center;
}
.footer #address #text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.footer #address #text li {
  padding-top: 1rem;
}
.footer #socials {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.footer h2 {
  padding-bottom: 20px;
  color: gray;
}
.footer a {
  color: gray;
  text-decoration: none;
  padding-right: 1rem;
  font-size: 3rem;
}
.footer a:hover {
  color: #731AC3;
}

.footer > div {
  width: 400px;
  margin: 10px;
  text-align: center;
}

.footer2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}
.footer2 #address {
  width: 50%;
  justify-content: center;
}
.footer2 #address #text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.footer2 #address #text li {
  padding-top: 1rem;
}

@media only screen and (min-width: 400px) {
  #container {
    justify-content: center;
    align-items: center;
  }
  #container #left {
    width: 22rem;
  }
  #container #right {
    width: 26rem;
  }
}
@media only screen and (min-width: 850px) {
  h1 {
    font-size: 3rem !important;
  }
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #opacity {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    opacity: 0.5;
    z-index: 8;
    display: none;
  }
  #opacity:hover {
    cursor: pointer;
  }
  #contact {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 5px;
  }
  #contact iframe {
    pointer-events: visible;
    opacity: 1;
    height: 300px;
  }
  #contact form {
    border-radius: 5px;
    padding-left: 2rem;
    width: 300px !important;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 75%;
  }
  #contact form h1 {
    display: none;
  }
  #contact form #input {
    padding-top: 0 !important;
  }
  #contact form input {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  #contact form input::-moz-placeholder {
    color: #000 !important;
  }
  #contact form input::placeholder {
    color: #000 !important;
  }
  #container {
    flex-direction: row;
  }
  #container #left {
    margin-right: 1rem;
  }
  #container #right #bottom {
    margin-top: 1rem !important;
  }
}
@media only screen and (min-width: 1400px) {
  * {
    overflow-y: hidden;
  }
  iframe {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */