$black:#000;
$white: #ffff;
$gray: gray;
$pink: #D33BAC;
$purple: #731AC3;

$normal-background-color: linear-gradient(to bottom right, $pink, $purple);
$reverse-background-color: linear-gradient(to bottom right, $purple, $pink);


$normal-font: 13px;
$normal-font-word-spacing: 3px;
$normal-font-line-height:1.5;

@font-face {
    font-family: Montserrate;
    src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: League Spartant;
    src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: Montserrate;
}


body{
    overflow-y: hidden;
    background-color: $black;

    video {
        position: fixed;
        top: 0;
        left: 0;

        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
    }
}
h1{
    font-family: League Spartant;
    font-size: 2rem;
}
p{
    font-size: $normal-font;
    font-family: Montserrate;
    line-height: 1.5rem;
}
h3{
    font-family: League Spartant;
    font-size: 1.2rem;
}
hr{
    height: 1.5px;
    background-color: $pink;
    border: none;
    opacity: 0.25;
  }

#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $white;
        }
        i:hover{
            cursor: pointer;
            color: $pink;
        }
        img{
            height: 2.5rem;
            padding-left: 2rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $white;
                padding: 0 0 2rem 0;
            }
            a:hover{
                color: $pink;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
        padding-left: 2rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $white;
            padding-left: 1rem;
        }
        a:hover{
            color: $pink;
        }
    }
    display: none;
}
//CONTACT US
#contact{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: $black;
    display: none;
    iframe{
        position: relative;
        pointer-events: none;
        opacity: 0.5;
    }
    form{
        position: absolute;
        width: 100%;
        height: 100vh;
        top:0%;
        padding-top: 1rem;
        left: 50%;
        transform: translate(-45%,0%);
        p{
            padding-bottom: 3rem;
            color: $gray;
        }
        h1{
            color: $white;
        }
        #input{
            display: flex;
            flex-direction: column;
            width: 90%;
            input{
                padding-top: 1rem;
                background: none;
                border-style: none;
                border-bottom: 1px solid $white;
                padding-top: 3rem;
                color: $white;
            }
            input::placeholder{
                color: $white;
            }
            input:focus{
                outline: none;
            }
        }
        #send{
            margin-top: 3rem;
            position: absolute;
            border: none;
            background-image: $normal-background-color;
            color: $white;
            padding: 1rem;
            border-radius: 5px;
            font-size: 10px;
            i{
                color: $white;
                font-size: 10px;
            }
        }
    }
    i{
        font-size: 1.5rem;
        color: $black;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    i:hover{
        cursor: pointer;
    }
  }

iframe{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    display: none;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    #left{
        background-color: $white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        p{
            margin-bottom: 3rem;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center;
            input{
                border: .5px solid $gray;
                height: 3rem;
                border-radius: 5px;
                padding-left: 5px;
            }
            select{
                border: .5px solid $gray;
                height: 3rem;
                border-radius: 5px;
                padding-left: 5px;
                width: 44%;
            }
        }
    }
    #right{
        border-radius: 5px;
        margin-top: 2rem;
    
        #top{
            background-color: $white;
            border-radius: 5px;
            padding: 2rem;
            #payment{
                background-image: $normal-background-color;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                margin-bottom: 2rem;
                h4{
                    color: $white;
                }
                #monthly{
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    color: $white;
                }
                #price{
                    margin-top: 1rem;
                    color: $white;
                    font-size: 4rem;
                    font-family: League Spartant;
                }
                #apr{
                    color: $white;
                }
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            hr{
                margin: 1rem 0;
                color: $purple !important;
            }
        }
        #bottom{
            background-color: $white;
            border-radius: 5px;
            margin-top: 2rem;
            padding: 2rem;
            p{
                margin: 1rem 0;
            }
            button{
                background-color: #731AC3;
                color: $white;
                border-style: none;
                padding: 1rem;
                border-radius: 5px;
            }
            button:hover{
                background-image: $reverse-background-color;
                cursor: pointer;
            }
        }
    }
}


.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #address{
      width: 50%;
      justify-content: center;
      #text{
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
        color: $gray;
        li{
          padding-top: 1rem;
        }
    }
    }
    #socials{
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
      }
      h2{
        padding-bottom: 20px;
        color: $gray;
      }
      a{
        color: $gray;
        text-decoration: none;
        padding-right: 1rem;
        font-size: 3rem;
      }
      a:hover{
        color: $purple;
      }
    }
    .footer > div{
      width: 400px;
      margin: 10px;
      text-align: center;
    }
    .footer2{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
        #address{
          width: 50%;
          justify-content: center;
          #text{
            padding-top: 50px;
            padding-bottom: 50px;
            font-family: 'Montserrat', sans-serif;
            color: $gray;
            li{
              padding-top: 1rem;
            }
          }
        }
      }
  @media only screen and (min-width: 400px){
    #container{
        justify-content: center;
        align-items: center;
        #left{
            width: 22rem;
        }
        #right{
            width: 26rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 850px) {
  h1{
    font-size: 3rem !important;
  }
  #header-mobile{
    display:none;
  }
  #header-laptop{
      display: block;
  }

    //CONTACT
  #opacity{
    width: 100%;
    height: 100%;
    background-color: $white;
    position: fixed;
    opacity: 0.5;
    z-index: 8;
    display: none;
}
  #contact{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 90%;
      border-radius: 5px;
      iframe{
          pointer-events: visible;
          opacity: 1;
          height: 300px;
      }
      form{
          border-radius: 5px;
          padding-left: 2rem;
          width: 300px !important;
          height: 500px;
          background-color: $white;
          position: absolute;
          left: 75%;
          
          h1{
              display: none;
          }
          #input{
              padding-top: 0 !important;
          }
          input{
              color: $black !important;
              border-bottom: 1px solid $black !important;
          }
          input::placeholder{
              color: $black !important;
          }
      }
  }

    #container{
        flex-direction: row;
        #left{
            margin-right: 1rem;
        }
        #right{
            #bottom{
                margin-top: 1rem !important;
            }
        }
    }
}


@media only screen and (min-width: 1400px){

    *{
        overflow-y: hidden;
    }
    iframe{
        display: block;
    }
}