$black:#000;
$white: #ffff;
$gray: gray;
$pink: #D33BAC;
$purple: #731AC3;

$normal-background-color: linear-gradient(to bottom right, $pink, $purple);
$reverse-background-color: linear-gradient(to bottom right, $purple, $pink);


$normal-font: 13px;
$normal-font-word-spacing: 3px;
$normal-font-line-height:1.5;

@font-face {
    font-family: Montserrate;
    src: url(../Fonts-family/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: League Spartant;
    src: url(../Fonts-family/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
}

*{
    padding:0;
    margin:0;
    letter-spacing: 1px;
    font-family: Montserrate;
}
body{
    background-color: $black;
}
h1{
    font-family: League Spartant;
    font-size: 2rem;
    color: $white;
}
p{
    color: $white;
    font-size: $normal-font;
    font-family: Montserrate;
}
h3{
    font-family: League Spartant;
    font-size: 1rem;
}
hr{
    height: 1.5px;
    background-color: $pink;
    border: none;
    opacity: 0.25;
  }
div{
  color: $white;
}
button{
  color: $white;
  padding: 1rem;
  border-style: none;
  background-image: $normal-background-color;
  border-radius: 50px;
}
button:hover{
  background-image: $reverse-background-color;
  cursor: pointer;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #address{
    width: 50%;
    justify-content: center;
    #text{
      padding-top: 50px;
      padding-bottom: 50px;
      font-family: 'Montserrat', sans-serif;
      color: $gray;
      li{
        padding-top: 1rem;
      }
  }
  }
  #socials{
      padding-top: 50px;
      padding-bottom: 50px;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
    }
    h2{
      padding-bottom: 20px;
      color: $gray;
    }
    a{
      color: $gray;
      text-decoration: none;
      padding-right: 1rem;
      font-size: 3rem;
    }
    a:hover{
      color: $purple;
    }
  }
  .footer > div{
    width: 400px;
    margin: 10px;
    text-align: center;
  }
  .footer2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    #address{
      width: 50%;
      justify-content: center;
      #text{
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
        color: $gray;
        li{
          padding-top: 1rem;
        }
      }
    }
  }
#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $black;
    z-index: 5;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $white;
        }
        .active{
          color: $pink;
        }
        i:hover{
            cursor: pointer;
            color: $pink;
        }
        img{
            height: 2.5rem;
            padding-left: 2rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $white;
                padding: 0 0 2rem 0;
            }
            a:hover{
                color: $pink;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    z-index: 5;
    height: 6rem;
    display: flex;
    overflow-y: hidden;

    #top{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
      background-color: $black;
    }
    img{
        height: 4.5rem;
    }
    .active{
      color: $pink;
    }
      a{
        text-decoration: none;
        color: $white;
        margin-left: 3rem;
      }
      a:hover{
        color: $pink;
        cursor: pointer;
      }
    display: none;
}
//CONTACT US
#contact{
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: $black;
  display: none;
  iframe{
      position: relative;
      pointer-events: none;
      opacity: 0.5;
  }
  form{
      position: absolute;
      width: 100%;
      height: 100vh;
      top:0%;
      padding-top: 1rem;
      left: 50%;
      transform: translate(-45%,0%);
      p{
          padding-bottom: 3rem;
          color: $gray;
      }
      h1{
          color: $white;
      }
      #input{
          display: flex;
          flex-direction: column;
          width: 90%;
          input{
              padding-top: 1rem;
              background: none;
              border-style: none;
              border-bottom: 1px solid $white;
              padding-top: 3rem;
              color: $white;
          }
          input::placeholder{
              color: $white;
          }
          input:focus{
              outline: none;
          }
      }
      #send{
          margin-top: 3rem;
          position: absolute;
          border: none;
          background-image: $normal-background-color;
          color: $white;
          padding: 1rem;
          border-radius: 5px;
          font-size: 10px;
          i{
              color: $white;
              font-size: 10px;
          }
      }
  }
  i{
      font-size: 1.5rem;
      color: $black;
      position: absolute;
      top: 1rem;
      right: 1rem;
  }
  i:hover{
      cursor: pointer;
  }
}


#first{
  top: 5rem;
  position: absolute;
  width: 100%;
  .container{
    position: relative;
  }
  #section1{
    position: sticky;
    width: 17rem;
    padding-left: 2rem;
    z-index: 1;
    top: 35%;
    #used{
      padding: .2rem .5rem;
      margin-bottom: 1rem;
      background-color: $gray;
      width: fit-content;
      border-radius: 50px;
    }
    #info{
      padding-bottom: 2rem;
    }
  }
  #section2{
    position: sticky ;
    left: 95%;
    top: 40%;
    padding-right: 2rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    z-index: 1;
    h1{
      color: $pink;
      text-align: end;
    }
    #search-bar{
      overflow-y: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: $white;
      border-radius: 20px;
      margin: 1rem 0;
      #icon{
          font-size: 1.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
          color: $black;
      }
      input{
          height: 4rem;
          width: 100%;
          border-style: none;
          padding-right: 1rem;
      }
      input:focus {
          outline: none;
      }
      #go{
          background-image: $normal-background-color;
          color: $white;
          border-style: none;
          border-radius: 20px;
          width: 4rem;
          height: 3rem;
          margin-right: 1rem;
          overflow-y: hidden;
      }
      #go:hover{
          background-image: $reverse-background-color;
          cursor: pointer;
      }
    }
    #bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    #quatity, #quickly{
      text-align: end;
      width: 45%;
      i{
        color: $purple;
        font-size: 2rem;
      }
      h4{
        font-family: League Spartant;
        font-size: .8rem;
        margin-top: .5rem;
      }
    }
  }
  .container:nth-of-type(1){
    height: 800px;
  }
  .container:nth-of-type(2){
    height: 800px;
  }
}
#video{
  position: relative;
  height: 1800px;
  display: block;
  #v0 {
    position: sticky;
    top: 0%;
    left: 0;
    width: 100%;
  }
}

#third{
  background-image: $normal-background-color;
  margin: 6rem 1rem !important;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  #left{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
    color: $purple;
  }
  #right{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 5rem;
    color: $pink;
  }
  #container{
    background-color: $black;
    padding: 3rem;
    display: flex;
    flex-direction: column;

    #person{
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      img{
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        margin-right: 1rem;
      }
    }
  }
}
#fourth{
  position: relative;
  //margin-top: 10rem;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: #731AC3;
  height: 100vh;
  #dissapear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      text-align: center;
      background-image: $normal-background-color;
      background-clip: text;
      color: transparent;
    }
    p{
      text-align: center;
    }
  }
  #appear{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    display: none;
    //margin: 6rem 0;
    #top, #bottom{
      width: 100%;
      #person{
        img{
          width: 100%;
        }
        #name{
          color: #731AC3;
        }
      }
    }
  }
}






@media only screen and (min-width: 300px){
}

@media only screen and (min-width: 600px) {
  #first{
    #section2{
      width: 25rem;
    }
  }
  #fourth{
    #dissapear{
      p{
        width: 20rem;
      }
    }
    #appear{
      width: 90%;
      #top, #bottom{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #person{
          width: 10rem;
        }
      }
    }
  }

}

@media only screen and (min-width: 850px) {
  h1{
    font-size: 3rem !important;
  }
  #header-mobile{
    display:none;
  }
  #header-laptop{
      display: block;
  }

  //CONTACT
  #opacity{
    width: 100%;
    height: 100%;
    background-color: $white;
    position: fixed;
    opacity: 0.5;
    z-index: 8;
    display: none;
}
  #contact{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 90%;
      border-radius: 5px;
      iframe{
          pointer-events: visible;
          opacity: 1;
          height: 300px;
      }
      form{
          border-radius: 5px;
          padding-left: 2rem;
          width: 300px !important;
          height: 500px;
          background-color: $white;
          position: absolute;
          left: 75%;
          
          h1{
              display: none;
          }
          #input{
              padding-top: 0 !important;
          }
          input{
              color: $black !important;
              border-bottom: 1px solid $black !important;
          }
          input::placeholder{
              color: $black !important;
          }
      }
  }

  #first{
    top: 5rem;
    position: absolute;
    width: 100%;
    .container{
      position: relative;
    }
    #section1{
      position: sticky;
      width: 17rem;
      padding-left: 2rem;
      z-index: 1;
      top: 35%;
      #used{
        padding: .2rem .5rem;
        margin-bottom: 1rem;
        background-color: $gray;
        width: fit-content;
        border-radius: 50px;
      }
      #info{
        padding-bottom: 2rem;
      }
    }
    #section2{
      position: sticky ;
      left: 95%;
      top: 40%;
      padding-right: 2rem;
      display: flex;
      align-items: end;
      flex-direction: column;
      z-index: 1;
      h1{
        color: $pink;
        text-align: end;
      }
      #search-bar{
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background-color: $white;
        border-radius: 20px;
        margin: 1rem 0;
        #icon{
            font-size: 1.5rem;
            padding-right: 1rem;
            padding-left: 1rem;
            color: $black;
        }
        input{
            height: 4rem;
            width: 100%;
            border-style: none;
            padding-right: 1rem;
        }
        input:focus {
            outline: none;
        }
        #go{
            background-image: $normal-background-color;
            color: $white;
            border-style: none;
            border-radius: 20px;
            width: 4rem;
            height: 3rem;
            margin-right: 1rem;
            overflow-y: hidden;
        }
        #go:hover{
            background-image: $reverse-background-color;
            cursor: pointer;
        }
      }
      #bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      #quatity, #quickly{
        text-align: end;
        width: 45%;
        i{
          color: $purple;
          font-size: 2rem;
        }
        h4{
          font-family: League Spartant;
          font-size: .8rem;
          margin-top: .5rem;
        }
      }
    }
    .container:nth-of-type(1){
      height: 800px;
    }
    .container:nth-of-type(2){
      height: 800px;
    }
  }
  #video{
    position: relative;
    height: 1800px;
    display: block;
    #v0 {
      position: sticky;
      top: 0%;
      left: 0;
      width: 100%;
    }
  }
  #third{
    margin: 3rem 15rem !important;
  }
  #fourth{
    #dissapear{
      p{
        width: 30rem;
      }
    }
    #appear{
      flex-direction: row;
      margin-top: 20rem;
    }
  }

}


@media only screen and (min-width: 1000px){
    #inventory{
        #box{
            width: 32%;
        }
    }
}
